*{
    padding: 0;
    margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Secular+One&display=swap');

:root{
    --azul: #03588C;
    --laranja-forte: #F28322;
    --laranja-claro: #F2B885;
    --preto: #0D0D0D;
    --fonte-titulos: 'Secular One', sans-serif;
    --fonte: 'PT Sans Narrow', sans-serif;
    --azul-claro: rgb(3, 88, 140, 38%);
    --laranja-claro2: rgb(242, 184, 133, 37%);
}


/*Home*/

.header{
    width: 100vw;
    height: 10vw;
}
.header div{
    display: flex;
}
.header div img{
    max-width: 100%;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--fonte-titulos);

}
.navbar div{
    margin-right: 5%;
}
.navbar h1{
    border-bottom: 1px solid var(--laranja-claro);
}
.navbar h1:hover{
    border-bottom: 3px solid var(--laranja-forte);
    cursor: pointer;
}

/*cursos e matricula*/

.cursos-matricula{
    margin-top: 15.5%;
    background: var(--azul-claro);
    font-family: var(--fonte);
}
.cursos-matricula h2{
    text-align: center;
    padding: 2%;
}
.cursos{
    display: flex;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
    gap: 3%;
}
.curso-saude, .curso-be, .curso-com, .curso-ti{
    text-align: center;
}

.matricula h3{
    text-align: center;
    padding: 2%;
    font-size: 25px;
}
.btn-matricula{
    display: flex;
    justify-content: center;
}
.btn-matricula button{
    all: unset;
    cursor: pointer;
    outline: revert;
}
.cursos img{
    width: 100%;
    height: 100%;
    align-items: center;
    border: 4px solid transparent;
}
.cursos img:hover{
    border: 4px solid var(--azul-claro); 
}



